################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TeamChill_HelpDeskTicketSystem/v16/.suo
